body {
    margin: 0 40px 40px;
}

.article {
    clear: left;
    margin-bottom: 20px;
    overflow: hidden;
}

.article-image {
    float: left;
    width: 160px;
}

.article-content {
    margin-left: 180px;
    margin-top: -17px;
}

.social-icon {
    height: 16px;
}

.social {
    padding-right: 20px;
}

.menu {
    margin-bottom: 16px;
}

.menu a {
    font-size: 48px;
    color: black;
    padding-right: 16px;
}